body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
    text-align: center;

    line-height: 1.5;
    padding: 20px;
    
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebebeb;
    padding: 0px 15px;
    margin: 0px;
    border-radius: 3px;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  #title {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  #subtitle {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #555;
  }
  figure {
    margin: 20px 0;
    background-color: #ffffff;
  }
  
  #image {
    max-width: 90%;
    height: auto;
    border-radius: 0px;
  }
  
  #img-caption {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #1d1c1c;
  }

  #tribute-info {
    text-align: left;
    margin-left: 350px; margin-right: 350px;
    list-style-position: inside;
  }
   
  #tribute-info p {
    margin: 30px;
    align-items: center;
  }
  blockquote {
    margin: 10px;
    text-align: left;
    margin-left: 350px;
    margin-right: 350px;
  }
  #tribute-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #4074ac;
    text-decoration: line ;
    border-radius: 5px;
  }
  
  #tribute-link:hover {
    background-color: #ebebeb;
  }